body {
  margin: 0px;
}

canvas {
  background-image: url(https://media.tenor.com/GVnKuE7CU_8AAAAM/woo-yea-baby-woo.gif);
  background-color: rgb(0, 255, 38);
  background-size: cover;
}

img {
  display: none;
}
